{% load static %}

<nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
  <div class="container-fluid">
    <nav class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex">
      <div class="input-group">
        <div class="input-group-prepend">
          <button type="submit" class="btn btn-search pe-1">
            <i class="fa fa-search search-icon"></i>
          </button>
        </div>
        <input type="text" placeholder="Search ..." class="form-control" />
      </div>
    </nav>

    <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">

      <!-- Notifications -->
      <li class="nav-item topbar-icon dropdown hidden-caret">
        <a class="nav-link dropdown-toggle" href="#" id="notifDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-bell"></i>
          <span class="notification">4</span>
        </a>
        <ul class="dropdown-menu notif-box animated fadeIn" aria-labelledby="notifDropdown">
          <li><div class="dropdown-title">You have 4 new notifications</div></li>
          <li>
            <div class="notif-scroll scrollbar-outer">
              <div class="notif-center">
                <a href="#"><div class="notif-icon notif-primary"><i class="fa fa-user-plus"></i></div><div class="notif-content"><span class="block">New user registered</span><span class="time">5 minutes ago</span></div></a>
                <a href="#"><div class="notif-icon notif-success"><i class="fa fa-comment"></i></div><div class="notif-content"><span class="block">Rahmad commented</span><span class="time">12 minutes ago</span></div></a>
                <a href="#"><div class="notif-icon notif-danger"><i class="fa fa-heart"></i></div><div class="notif-content"><span class="block">Someone liked your post</span><span class="time">17 minutes ago</span></div></a>
              </div>
            </div>
          </li>
          <li><a class="see-all" href="#">See all notifications <i class="fa fa-angle-right"></i></a></li>
        </ul>
      </li>

      <!-- User Dropdown -->
      <li class="nav-item topbar-user dropdown hidden-caret">
        <a class="dropdown-toggle profile-pic" data-bs-toggle="dropdown" href="#" aria-expanded="false">
          <div class="avatar-sm">
            {% if request.user.profile_picture %}
              <img src="{{ request.user.profile_picture.url }}" alt="Profile Image" class="avatar-img rounded-circle" />
            {% else %}
              <img src="{% static 'assets/img/default-user.png' %}" alt="Default Profile" class="avatar-img rounded-circle" />
            {% endif %}
          </div>
          <span class="profile-username">
            <span class="op-7">Hi,</span>
            <span class="fw-bold">{{ request.user.first_name|default:request.user.email }}</span>
          </span>
        </a>
        <ul class="dropdown-menu dropdown-user animated fadeIn">
          <div class="dropdown-user-scroll scrollbar-outer">
            <li>
              <div class="user-box">
                <div class="avatar-lg">
                  {% if request.user.profile_picture %}
                    <img src="{{ request.user.profile_picture.url }}" alt="User profile" class="avatar-img rounded" />
                  {% else %}
                    <img src="{% static 'assets/img/default-user.png' %}" alt="No Image" class="avatar-img rounded" />
                  {% endif %}
                </div>
                <div class="u-text">
                  <h4>{{ request.user.get_full_name|default:request.user.email }}</h4>
                  <p class="text-muted">{{ request.user.email }}</p>
                  <a href="{% url 'manager_user_profile' %}" class="btn btn-xs btn-secondary btn-sm">View Profile</a>
                </div>
              </div>
            </li>
            <li>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </li>
          </div>
        </ul>
      </li>
    </ul>
  </div>
</nav>
